<form [formGroup]="categoriaForm">
    <h1 mat-dialog-title >{{action}} Plano de Saúde</h1>
    <div mat-dialog-content>
        <mat-form-field  appearance="outline" ng-disabled =>
            <mat-label>ID</mat-label>
            <input [hidden]="action == 'Atualizar' " formControlName="id" matInput [value]="categoria.id">
        </mat-form-field>
    <br>
        <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input formControlName="nome" matInput [value]="categoria.nome">
        </mat-form-field> 
    
        <div mat-dialog-action [align]="'end'">
            <button mat-raised-button color="warn" mat-dialog-close="">Voltar</button>
            <button  style="margin-left: 8px;" (click)="CadastrarCategorias()" mat-raised-button color="primary">{{action}}</button>
          </div>
    </div>
    </form>

