<h1 mat-dialog-title>Reserva médica</h1>
<form [formGroup]="reservaForm">
  <div mat-dialog-content>
  
    <mat-form-field [hidden]="cliente.role == 'USER'" appearance="outline">
      <mat-label>Cliente</mat-label>
      <mat-select formControlName="cliente">
        <mat-option *ngFor="let cliente of clientes" [value]="cliente.id">
            {{cliente.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Medico</mat-label>
      <mat-select id="Medico" formControlName="medico"  (ngModelChange)="medicoSelect($event)">
        <mat-option  *ngFor="let medico of medicos" [value]="medico.crm">
            {{medico.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Escolha o dia</mat-label>
      <input (ngModelChange)="dataSelect($event)" id="Data" formControlName="data" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Hora inicio</mat-label>
    <mat-select formControlName="horaInicio">
      <mat-option *ngFor="let horario of horarioFixos" [value]="horario">
        {{horario}}
      </mat-option>
    </mat-select>  
  </mat-form-field>

    
  </div>
  <div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close="">Fechar</button>
    <button style="margin-left: 8px;" (click)="addReserva()" mat-raised-button color="primary">Agendar</button>
  </div>
</form>
