<form [formGroup]="medicoForm">
<h1 mat-dialog-title >{{action}} Médico</h1>
<div mat-dialog-content>
    <mat-form-field  appearance="outline" ng-disabled =>
        <mat-label>CRM</mat-label>
        <input [hidden]="action == 'Atualizar' " formControlName="crm" matInput [value]="medico.crm">
    </mat-form-field>
<br>
    <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input formControlName="nome" matInput [value]="medico.nome">
    </mat-form-field> 


    <div mat-dialog-action [align]="'end'">
        <button mat-raised-button color="warn" mat-dialog-close="">Voltar</button>
        <button  style="margin-left: 8px;" (click)="CadastrarMedicos()" mat-raised-button color="primary">{{action}}</button>
      </div>
</div>
</form>